# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
Hyperfeel_base/Hyperfeel_base.xcodeproj/project.xcworkspace/xcuserdata/laserstorm.xcuserdatad/UserInterfaceState.xcuserstate

Hyperfeel_base/bin/Hyperfeel_baseDebug.app/Contents/MacOS/Hyperfeel_baseDebug

Hyperfeel_base/bin/Hyperfeel_baseDebug.app/Contents/MacOS/Hyperfeel_baseDebug
